.dash-holder {
  min-width: 1366px;
  min-height: 768px;
}

.metric {
  color: black;
  min-height: 31px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row>div {
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  padding-left: 8px;
  padding-right: 8px;
}

body {
  padding: 100px 0 0;
}


/*.chart-wrapper {
    display: inline-block
}*/

.dc-chart g.row text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size 24;
}


/*div.dc-chart {
    text-align: center;
    float: none;
}*/

.dc-chart path.line {
  stroke-width: 0.45px;
}

.dc-chart path.area {
  fill-opacity: 0.68;
}


/* DEBUG STUFF */

.green-border {
  border-color: green;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}

.red-border {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}

.blue-border {
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}

.yellow-border {
  border-color: yellow;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}
