<!DOCTYPE html>
<meta charset="utf-8">

<link href="{{ url_for('static', filename='./bower_components/keen-dashboards/dist/keen-dashboards.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='./bower_components/dcjs/dc.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='./bower_components/d3/d3.js') }}"></script>
<script src="{{ url_for('static', filename='./bower_components/d3-tip/index.js') }}"></script>
<script src="{{ url_for('static', filename='./bower_components/crossfilter/crossfilter.js') }}"></script>
<script src="{{ url_for('static', filename='./bower_components/reductio/reductio.js') }}"></script>
<script src="{{ url_for('static', filename='./bower_components/dcjs/dc.js') }}"></script>
<script src="{{ url_for('static', filename='./dashboards.js') }}"></script>

{% extends "layout.html" %} {% block body %}

<style>
  .node {
    cursor: pointer;
  }

  .node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }

  .node--root {
    stroke: #777;
    stroke-width: 2px;
  }

  .node--leaf {
    fill: white;
    stroke: #777;
    stroke-width: 1px;
  }

.label {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    fill: black;
    /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
    }
    .label, .node--root { pointer-events: none; }
  }
</style>

<button id="temp-coup-btn" type="button" class="btn btn-primary btn-sm">Temporal Coupling</button>
<button id="bugs-btn" type="button" class="btn btn-primary btn-sm">Bugs</button>
<button id="none-btn" type="button" class="btn btn-primary btn-sm">None</button>

<script>
  var packingData = null;
  var PACKING_MODULES = {
    BUGS: 0,
    TEMPORAL_COUPLING: 1,
    CODE_AGE: 2,
    KNOWLEDGE_MAP: 3,
    NONE: 4
  };

  var mode = PACKING_MODULES.NONE;
  var projectName = '{{ project_name }}';
  var intervals = {{ intervals | tojson }};

  if (projectName === null) {
    projectName = this.pathname.split('/').pop();
    alert("project name was null. Setting it to " + projectName); // TODO -- remove this debug line
  }

  var intervalParams = "";
  if (intervals[0]) {
    intervalParams += "&start1=" + intervals[0][0] + "&end1=" + intervals[0][1];
  }
  if (intervals[1]) {
    intervalParams += "&start2=" + intervals[1][0] + "&end2=" + intervals[1][1];
  }

  var requestUrl = "/api/hotspots?project_name=" + projectName + intervalParams;

  console.log('request url: ' + requestUrl);

  var margin = 5,
    outerDiameter = 1000,
    innerDiameter = outerDiameter - margin - margin;

  var x = d3.scale.linear()
    .range([0, innerDiameter]);

  var y = d3.scale.linear()
    .range([0, innerDiameter]);

  var color = d3.scale.linear()
    .domain([-1, 5])
    .range(["hsl(185,60%,99%)", "hsl(187,40%,70%)"])
    .interpolate(d3.interpolateHcl);

  var pack = d3.layout.pack()
    .padding(2)
    .size([innerDiameter, innerDiameter])
    .value(function(d) {
      return d.loc;
    });

  var svg = d3.select("body").append("svg")
    .attr("width", outerDiameter)
    .attr("height", outerDiameter)
    .append("g")
    .attr("transform", "translate(" + margin + "," + margin + ")");

  var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      var baseHTML = "<strong>" + d.name + "</strong><br style='line-height:150%'/>"
      switch (mode) {
        case PACKING_MODULES.NONE:
          return baseHTML + "<span> Lines of Code: " + d.loc;
          break;
        case PACKING_MODULES.BUGS:
          svg.selectAll("circle")
            return baseHTML + "<span>Bug Score: </span><span style='color:red'>"
                            + Math.round(d.bug_score*100)/100 + "</span></br>"
                            + "<span>Number of Bugs: " + d.bug_count + "</span>";
            break;
        case PACKING_MODULES.TEMPORAL_COUPLING:
          svg.selectAll("circle")
            var html = baseHTML + "<span>Temporal Coupling Score: </span>";
            if (d.tc_score > 0) {
              html += "<span style='color:red'>" + Math.round(d.tc_score*100)/100 +
                      "</span></br><span>Number of Revisions: " + d.num_revisions + "</span>" +
                      "</span><br/><span>Coupled Module: </span><span style='color:red'>"
                      + d.coupled_module + "</span></br>" + "<span>Number of Mutual Revisions: "
                      + d.num_mutual_revisions + "</span></br>" + "<span>Percent Coupled: </span>"
                      + "<span style='color:red'>" + Math.round(d.tc_percent*100)/100 + "</span>";
            } else {
              html += "<span>" + d.tc_score + "</span>";
            }
            return html;
            break;
      }
    })

  function colorCircles() {
    switch (mode) {
      case PACKING_MODULES.NONE:
        svg.selectAll("circle")
          .style("fill", function(d) {
            return d.children ? color(d.depth) : "WhiteSmoke";
          })
          .style("fill-opacity", function(d) {
            return d.children ? color(d.depth) : 1;
          });
          break;
      case PACKING_MODULES.BUGS:
        svg.selectAll("circle")
          .style("fill", function(d) {
            return d.bug_score > 0.0 ? "darkred" :
              d.children ? color(d.depth) : "WhiteSmoke";
          })
          .style("fill-opacity", function(d) {
            return d.bug_score;
          });
          break;
      case PACKING_MODULES.TEMPORAL_COUPLING:
        svg.selectAll("circle")
          .style("fill", function(d) {
            return d.tc_score > 0.0 ? d3.rgb(d.tc_color) :
              d.children ? color(d.depth) : "WhiteSmoke";
          })
          .style("fill-opacity", function(d) {
            return d.tc_color_opacity;
          });
          break;
    }
  }

  d3.json(requestUrl, function(error, root) {
    root = JSON.parse(root);
    packingData = root;
    console.log(root);
    var focus = root,
      nodes = pack.nodes(root);

    svg.call(tip)

    svg.append("g").selectAll("circle")
      .data(nodes)
      .enter().append("circle")
      .attr("class", function(d) {
        return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root";
      })
      .attr("transform", function(d) {
        return "translate(" + d.x + "," + d.y + ")";
      })
      .attr("r", function(d) {
        return d.r;
      })
      .on("click", function(d) {
        return zoom(focus == d ? root : d);
      })
      .append("title").text(function(d) {
        return d.name;
      });

    svg.append("g").selectAll("text")
      .data(nodes)
      .enter().append("text")
      .attr("class", "label")
      .attr("transform", function(d) {
        return "translate(" + d.x + "," + d.y + ")";
      })
      .style("fill-opacity", function(d) {
        return d.parent === root ? 1 : 0;
      })
      .style("display", function(d) {
        return d.parent === root ? null : "none";
      })
      .text(function(d) {
        return d.name;
      });

    svg.selectAll(".node--leaf")
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide);

    d3.select(window)
      .on("click", function() {
        zoom(root);
      });

    function zoom(d, i) {
      // Do not allow leafs to zoom
      if(!d.children) { d = d.parent; }

      var focus0 = focus;
      focus = d;

      var k = innerDiameter / d.r / 2;
      x.domain([d.x - d.r, d.x + d.r]);
      y.domain([d.y - d.r, d.y + d.r]);
      d3.event.stopPropagation();

      var transition = d3.selectAll("text,circle").transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .attr("transform", function(d) {
          return "translate(" + x(d.x) + "," + y(d.y) + ")";
        });

      transition.filter("circle")
        .attr("r", function(d) {
          return k * d.r;
        });

      transition.filter("text")
        .filter(function(d) {
          return d.parent === focus || d.parent === focus0;
        })
        .style("fill-opacity", function(d) {
          return d.parent === focus ? 1 : 0;
        })
        .each("start", function(d) {
          if (d.parent === focus) this.style.display = "inline";
        })
        .each("end", function(d) {
          if (d.parent !== focus) this.style.display = "none";
        });
    }

    // Default view is None
    colorCircles(mode);
  });
  d3.select(self.frameElement).style("height", outerDiameter + "px");

  // Bind Buttons
  $('#temp-coup-btn').on('click', function(e) {
    mode = PACKING_MODULES.TEMPORAL_COUPLING;
    colorCircles();
  });
  $('#bugs-btn').on('click', function(e) {
    mode = PACKING_MODULES.BUGS;
    colorCircles();
  });
  $('#none-btn').on('click', function(e) {
    mode = PACKING_MODULES.NONE;
    colorCircles();
  });
</script>


<style>
.d3-tip {
  line-height: 115%;
  font-weight: normal;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
</style>

{% endblock %}
