{% extends "layout.html" %}

{% block body %}

<script src="{{ url_for('static', filename='./graphs.js') }}"></script>
<script>
$(function(){
  console.log("document is ready is ready")
  var projectName = '{{ project_name }}';
  var requestUrl = "/data?project_name=" + projectName;

  $.getJSON(requestUrl, function(data) {
    buildGraphs(data);
  });
});
</script>

<!-- Time Chart -->
<div class="col-sm-12">
  <div class="chart-wrapper">
    <div class="chart-title">
      Commits Timeline
    </div>
    <div class="chart-stage">
      <div id="time-chart"></div>
    </div>
  </div>
</div>

<div id="json-data"></div>

{% endblock %}
