.center-pills {
  display: inline-block;
}

.project-info-row {
  position: relative;
  z-index: 9999;
}

.dates-div {
  position: absolute;
  bottom: 0;
  right: 0;
}

.large-equation {
  font-size: 150%;
}

.MathJax_Display {
  margin: 4px 4px !important;
}

#packing-container {
  margin-top: 10px;
  padding-left: 0;
  padding-right: 0;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--root {
  stroke: #777;
  stroke-width: 2px;
}

.node--leaf {
  fill: white;
  stroke: #777;
  stroke-width: 1px;
}

.label {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  fill: black;
  pointer-events: none;
  /*text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;*/
}

rect {
  stroke-width: 2;
}

.d3-tip {
  line-height: 125%;
  font-weight: lighter;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
}


/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}


/* Style northward tooltips differently */

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00bc8c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

.loader-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #222222;
  z-index: 9000;
}


/*DEBUG*/


/*[class*="col-"] {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}*/
