body {
  padding: 54px 0 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  height: 100%;
  padding-left: 0px;
  padding-right: 6px;
}

.row {
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.tooltip-icon {
  float: right;
}

.title-metric {
  float: right;
}

.main-viz-row {
  height: calc(100% - 40px - 16px);
}

.dash-holder {
  height: 100%;
  /*border-color: green;
  border-width: 2px;
  border-style: solid;*/
}

.chart-wrapper {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.chart-stage {
  flex: 1;
}

.buttons-row {
  padding-bottom: 0px;
  padding-top: 5px;
}

.ui-button {
  float: right;
  margin-left: 16px;
}

#cp-btn {
  background: green;
}

#reset-btn {
  background: red;
}

#tutorial-btn {
  float: left;
  margin-left: 0;
}

.top-authors-stage {
  pointer-events: none;
}

.metric {
  color: black;
  min-height: 31px;
}

.dc-chart g.row text {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size 24;
}

.dc-chart path.line {
  stroke-width: 0.45px;
}

.dc-chart path.area {
  fill-opacity: 0.68;
}

.modal-overlay {
  background-color: black;
  z-index: 9999999;
  opacity: 0.75;
}


/* DEBUG STUFF */

.green-border {
  border-color: green;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}

.red-border {
  border-color: red;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}

.blue-border {
  border-color: blue;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}

.yellow-border {
  border-color: yellow;
  border-width: 1px;
  border-style: solid;
  /*border-radius: 50%;*/
}
