<!DOCTYPE html>
<html>

<title>Code, MD</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<head>
  {% block head %}
  <script src="{{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='./bower_components/d3/d3.js') }}"></script>
  <script src="{{ url_for('static', filename='./bower_components/intro.js/intro.js') }}"></script>

  <link href="{{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='./style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='./bower_components/intro.js/introjs.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style>
    h1 {
      font-family: 'Lato', sans-serif;
  }
  </style>
  {% endblock %}
</head>

<body>
  {% block body %}
  {% endblock %}
</body>

</html>
