<!DOCTYPE html>
{% extends "layout.html" %}
{% block head %}
  {{ super() }}
<link href="{{ url_for('static', filename='./home.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='./home.js') }}"></script>
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>

<script type="text/javascript">
  $(window).load(function() {
    console.log('jq loaded.');
    config_slideshow();
  });
</script>
{% endblock %}

{% block body %}
<body>
  <!-- Page Content -->
  <div class="container">

    <!-- Title -->
    <h1 class="text-center page-title">Code, M.D.</h1>
    <h4 class="text-center page-subtext">Visualize the evolution of your software</h4>

    <hr>

    <!-- Video Carousel -->
    <div id="videoCarousel" class="carousel slide">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <!-- Dashboard General -->
        <div class="item active">
          <div class='embed-container'>
            <iframe id="vid1" class="demo-vid" src="https://www.youtube.com/embed/oVAtiZzeMo4?rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1" enablejsapi="1" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
          </div>
        </div>
        <!-- Knowledge Map -->
        <div class="item">
          <div class='embed-container'>
            <iframe id="vid2" class="demo-vid" src="https://www.youtube.com/embed/yM-rzkDHHFY?rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1" enablejsapi="1" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
          </div>
        </div>
        <!-- Code Churn -->
        <div class="item">
          <div class='embed-container'>
            <iframe id="vid3" class="demo-vid" src="https://www.youtube.com/embed/_MWYrwxpGLc?rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1" enablejsapi="1" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
          </div>
        </div>
        <!-- Bug Score -->
        <div class="item">
          <div class='embed-container'>
            <iframe id="vid4" class="demo-vid" src="https://www.youtube.com/embed/F_9r3Ylyapo?rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1" enablejsapi="1" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
          </div>
        </div>
        <!-- Author Contributions -->
        <div class="item">
          <div class='embed-container'>
            <iframe id="vid5" class="demo-vid" src="https://www.youtube.com/embed/OJ0czxnvvAQ?rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1" enablejsapi="1" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
          </div>
        </div>
        <!-- Defects -->
        <div class="item">
          <div class='embed-container'>
            <iframe id="vid6" class="demo-vid" src="https://www.youtube.com/embed/LOMac9hMVRQ?rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1" enablejsapi="1" frameborder="0" gesture="media" allow="encrypted-media"></iframe>
          </div>
        </div>

      </div>
    </div>

    <hr>

    <!-- Jumbotron -->
    <!-- <div class="jumbotron">
      <h1>Featured: Tensorflow</h1>
      <p>Demo the tools with the Tensorflow project, or choose a different project below.</p>
      <p><a class="btn btn-primary btn-lg">Try It</a></p>
    </div>

    <hr> -->

    <!-- Brower Repos -->
    <div class="row">
      <div class="col-lg-12">
        <h3>Browse Repositories</h3>
      </div>
    </div>

    <!-- Repos List -->
    <div class="row text-center">
      {% for project in projects_data %}
        <div class="col-md-3 col-sm-3 hero-feature">
          <div class="thumbnail">
            <div class="caption">
              <h4>{{project['full_name']}}</h4>
              <p>{{project['description']}}</p>
              <p>
                <a href="/dashboards/{{project['short_name']}}" class="btn btn-success">Explore</a>
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- /.row -->

    <hr>

  <form class="form-horizontal" action="{{ url_for('fetchdata') }}" method=post>
    <fieldset>
      <legend>Upload Git Repository</legend>
      <div class="form-group">
        <label for="inputUrl" class="col-lg-2 control-label">.git URL</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputUrl" name="inputUrl" placeholder="https://github.com/rails/rails.git">
          <span class="help-block">NOTE: Be sure to enter the .git URL, and NOT the Github URL</span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputProjectName" class="col-lg-2 control-label">Project Name</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputProjectName" name="inputProjectName" placeholder="Ruby on Rails">
        </div>
      </div>
      <div class="form-group">
        <label for="inputDescription" class="col-lg-2 control-label">Project Description (optional)</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="inputDescription" name="inputDescription" placeholder="Rails is a web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC) pattern."></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>


  </div>
  <!-- /.container -->

  <!-- <form action="{{ url_for('fetchdata') }}" method=post style="padding-bottom:50px;">
    Enter a git repository (.git URL not github URL)<br>
    <input type="text" name="git_url" value="git://github.com/dhaba/git-pandas.git" style="width:700px;">
    <input type="submit" value="Submit form">
  </form> -->

</body>

{% endblock %}
