/*.chart-wrapper {
    background: #303030;
    border: 1px solid #464545;
}*/
.dc-chart path.line {
  stroke-width: 0px;
}

.offset-left {
  text-align: center;
}

.body {
  margin-top: 30px;
}

#commits-timeline g.y {
    display: none;
}

#defects-distribution g.y {
    display: none;
}

.dc-chart {
    /*float: none !important;*/
    /*text-align: center;*/
    /*display: inline-block;*/
    /*height: 151px;
    margin-bottom: 20px;*/
}

.chart-title {
    /*text-align: center;*/
}
